body {
    background-color: rgb(190, 190, 190);
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    overflow: hidden;
    background-color: #6e6e6e;
    border-right: .1vh solid #e01f95;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2vh;
    text-align: center;
    padding: 2%;
    z-index: 1;
}

.navbar a {
    display: block;
    text-decoration: none;
    position: relative;
    color: black;
    transition: 0.5s;
    padding: 1.5vw;
}

.navbar a:hover {
    color: #F3E600;
}

.jon-img {
    width: auto;
    height: auto;
}

.name {
    padding: 1.5vw;
    margin: 0;
}
