body {
    background-color: rgb(97, 97, 97);
    margin: 0;
}

h1 {
    text-align: center;
}

img {
    width: 450px;
    height: 600px;
    left: 45%;
}

.navbar {
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    overflow: hidden;
    background-color: #F3E600;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2vh;
    border-bottom: .1vh solid black;
    outline: .1vh solid #04DAF6;
    z-index: 1;
}

.navbar a {
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    position: relative;
    color: black;
    transition: 0.5s;
    padding: 1vw;
}

.navbar a:hover {
    background-color: black;
    color: #F3E600;
}
