html {
    scroll-behavior: smooth;
    scroll-padding-top: 10%;
}

body {
    scroll-padding-top: 10%;
    margin: 0%;
    letter-spacing: .2vw;
    font-size: 1.2vw;
}


/*--NAVBAR--*/
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgb(44, 44, 44);
    z-index: 1;
    -webkit-animation: moveNav 3s;
    animation: moveNav 3s;
}

/* NAVBAR TEXT */
.navbar a {
    display: block;
    float: left;
    text-align: center;
    padding: .75vw 1vw;
    font-size: 1.5vw;
    color: white;
    font-family: monospace;
    text-decoration: none;
    position: relative;
    -webkit-animation: movenavText 3.5s;
    animation: movenavText 3.5s;
}

.navbar a:hover {
    background-color: rgb(245, 245, 245);
    color: rgb(44, 44, 44);
    font-weight: bold;
    -webkit-transition-duration: .75s;
    transition-duration: .75s;
}

/* NAVBAR HOME BUTTON */
.navbar a.active {
    background-color: rgb(228, 228, 228);
    color: rgb(44, 44, 44);
}

/* NAVBAR ANIMATION */
@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

@keyframes movenavText {
    from {top: -100vw;}
    to {top: 0vw;}
}
/*--/NAVBAR--*/

/*--HOME--*/
#group_video {
    position: fixed;
    filter: grayscale(100%);
    min-height: 100%;
    right: 0;
    bottom: 0;;
    top: 0;
    z-index: -1;
}

/* TEXT + OVERLAY */
h1 {
    margin-top: -.25vw;
    font-size: 3.5vw;
    font-family: monospace;
    text-align: center;
}

q {
    font-style: italic;
    font-weight: bold;
    font-size: 2vw;
}

p{
    font-family: Perpetua, Rockwell Extra Bold;
    font-size: 1.75vw;

}

.overlay_text {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    letter-spacing: .15vw;
    width: 100%;
    padding-top: 1.5vh;
    padding-bottom: 1vh;
    margin-top: 26%;
    position: relative;
    -webkit-animation: moveNav 3.5s;
    animation: movevideoText 3.5s;
}

/* ANIMATION */
@keyframes movevideoText {
    from {top: -100vw;}
    to {top: 0vw;}
  }

/* /TEXT + OVERLAY */
/*--/HOME--*/


/*--AFFECTS ALL COLUMNS--*/
* {
    box-sizing: border-box
}

a {
    color: blue;
    text-decoration: none;
}

img {
    filter: grayscale(50%);
    display: block;
    height: 22vw;
    width: 40vw;
    margin: auto auto auto;
    border-radius: 8px;
    max-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

img:hover {
    filter: grayscale(0%);
    transition: transform 1s;
    transform: scale(1.05);
}

h2 {
    text-align: center;
    font-weight: bold;
    font-family: monospace;
    font-size: 3vw;
    margin-top: -3%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
/*--/AFFECTS ALL COLUMNS--*/

/*-- SLIDE SHOW --*/
#slideshow-container {
    width: 42vw;
    height: 41.5vw;
    padding-top: 2%;
    position: relative;
    margin: auto;
}

.Slide-Show-Images {
    object-fit:  cover;
    width: auto;
    height: 39.5vw;
    vertical-align: middle;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75)
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -0vw;
    padding: 1.5vw;
    color: lightgray;
    font-weight: bold;
    font-size: 1.5vw;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    border-radius: 8px;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    z-index: 1;
}

.active, .dot:hover {
    background-color: gray;
}

.active.dot {
    background-color: black;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    form {opacity: .4}
    to {opacity: 1}
}
/*-- /SLIDE SHOW --*/

/*--ABOUT--*/
/* LEFT COLUMN_1 */
.column_1 {
    float: left;
    width: 50%;
    padding: 2%;
    height: 26vw;
    background-color: rgb(129, 129, 129);
}
/* /LEFT COLUMN_1 */

/* RIGHT COLUMN_2 */
.column_2 {
    float: left;
    width: 50%;
    padding: 2%;
    height: 26vw;
    background-color: rgb(247, 247, 247);
    overflow: hidden;
    text-overflow: ellipsis;
}

.column_2 p {
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: 1px;
    font-size: 1.1vw;
}

#scrollbar {
    max-height: 500px;
    overflow-y: auto;
}
/* /RIGHT COLUMN_2 */
/*--/ABOUT--*/


/*--GITHUB--*/
/* LEFT COLUMN_3 */
.column_3 {
    float: left;
    width: 50%;
    padding: 2%;
    height: 26vw;
    background-color: rgb(247, 247, 247);
}

.column_3 p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: center;
    letter-spacing: .1vw;
    font-size: 1.7vw;
    padding-top: 6%;
}
/* /LEFT COLUMN */

/* RIGHT COLUMN_4 */
.column_4 {
    float: left;
    width: 50%;
    padding: 2%;
    height: 26vw;
    background-color: rgb(129, 129, 129);
}
/* END OF RIGHT COLUMN_4 */
/*--/GITHUB--*/


/*--LINKEDIN--*/
/* RIGHT COLUMN_5 */
.column_5 {
    float: left;
    width: 50%;
    padding: 2%;
    height: 26vw;
    background-color: rgb(129, 129, 129);
}
/* /RIGHT COLUMN_5 */

/* LEFT COLUMN_6 */
.column_6 {
    float: left;
    width: 50%;
    padding: 2%;
    height: 26vw;
    background-color: rgb(247, 247, 247);
}

.column_6 p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: center;
    letter-spacing: .1vw;
    font-size: 1.7vw;
    padding-top: 6%;
}
/* LEFT COLUMN_6 */
/*--/LINKEDIN--*/


/*--CONTACT--*/
/* ANIMATION */
@keyframes movePopup {
    from {right: -40vw;}
    to {bottom: 1.75vw;}
}

.Pop_Up_Button {
    bottom: 1.75vw;
    right: 1.75vw;
    width: 22vw;
    background-color: white;
    color: black;
    border: solid;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 3.5s;
    animation: movePopup 3.5s;
}

.form-popup {
    border: 3px solid #f0f1f0;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 1vw;
    right: 1vw;
}

.form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: white;
}

.form-container input[type=text] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: gainsboro;
    font-family: monospace;
    font-size: 1vw;
}

.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom:  1vh;
}

.form-container .cancel {
    background-color: white;
    color: black;
    border-color: gray;
}

button {
    font-family: monospace;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: auto;
}

button:hover, .form-container .btn:hover {
    color: white;
    background-color: black;
    border-style: solid;
    border-color: silver;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    border-style: solid;
    border-color: black;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
/*--/CONTACT--*/


/*--FOOTER--*/
footer {
    height: 5vw;
    width: 100%;
    background-color: white;
    padding: 2vw;
    bottom: 0;
}

.footer_text {
    text-align: center;
    margin: auto;
    font-size: 1.5vw;
}
/*--/FOOTER--*/
